RewriteEngine on
DirectoryIndex entrypoint.php

RewriteCond $0 !=images/favicon.ico
RewriteRule ^([^/]+/)*favicon\.ico$ public_html/favicon.ico [L]

# All request are redirect to entrypoint.php, except css, js, png, [...] files in public_html
RewriteCond %{REQUEST_URI} !public_html/.*\.(?:css|js|png|jpg|jpeg|svg|mp4|mkv|ico)$ [NC]
RewriteRule ^(.+)$ entrypoint.php [L]


# Non existing files or directories are redirect to entrypoint.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ entrypoint.php [L]