{% extends 'base.html.twig' %}

{% block title %}Bobyblog{% endblock %}

{% block content %}
    <div class="container">
        {% include 'Blog/content-header.html.twig' %}
        <div><h2>{{ totalResults }} post{% if totalResults > 1 %}s{% endif %} found{% if tags is not empty %} - Filtered by: <span>{{ tags|join(', ') }}</span>{% endif %}</h2></div>
        {% if posts|length > 0 %}{% include 'Blog/pagination.html.twig' with pagination only %}{%  endif %}
        <div class="articles">
        {% for post in posts  %}
            {% include 'Blog/article.html.twig' %}
        {% endfor %}
        </div>
    </div>

    {% include 'photoswipe.html.twig' %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% if posts is not empty %}
        <script>
            $(document).on('click', 'a.gallery', (event) => {
                openGallery(parseInt(event.currentTarget.dataset.postid), parseInt(event.currentTarget.dataset.index));
            });
            openGallery = (postId, mediaIndex) => {
                var options = {
                    index: mediaIndex,
                    galleryPIDs: true,
                    galleryUID: postId,
                    shareEl: false,
                    preload: [3, 3]
                };
                let items = [];
                $('a.gallery[data-postid=' + postId + '] .media-container').each((index, mediaInGallery) => {
                    let dataForGallery = {
                        src: mediaInGallery.dataset.src,
                        w: mediaInGallery.dataset.width,
                        h: mediaInGallery.dataset.height,
                        title: mediaInGallery.dataset.caption,
                        pid: mediaInGallery.dataset.id
                    }

                    if (mediaInGallery.dataset.isvideo === 'true') {
                        dataForGallery = {
                            html: '<div class="video-wrapper"><video controls ><source src="' + mediaInGallery.dataset.src + '" type="video/mp4"></video></div>'
                        };
                    }
                    items.push(dataForGallery);
                });

                var pswpElement = document.querySelectorAll('.pswp')[0];
                // Initializes and opens PhotoSwipe
                var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
                gallery.listen('beforeChange', ()=>($('video').trigger('pause')));
                gallery.listen('close', ()=>($('video').trigger('pause')));
                gallery.init();
            };
        </script>
    {% endif %}
{% endblock %}